
header {
  background-color: pink;
  padding: 20px;
}

body {
  margin: auto;
  font-family: Comic Sans MS;
}

.column-1, .column-2 {
  box-sizing: border-box;
  float: left;
  width: 30%;
  padding: 20px;
  border: 1px solid black;
  margin: 6% 10%;
}

article {
  background-color: #d3d3d3;
}

article h2 {
  color: grey;
}

footer {
  background-color: #d3d3d3;
  display: block;
  clear: both;
  padding: 10px;
}

